# vercel
VERCEL_TOKEN=
TEAM_ID=
PROJECT_ID=
PROJECT_IDS=
VERCEL_PROJECT_URL=

# ga4
PROPERTY_ID=
GOOGLE_ANALYTICS_CREDENTIAL=

# ai
GEMINI_API_KEY=
CLAUDE_API_KEY=

# slack
SLACK_WEBHOOK_URL=

# site
TARGET_WEBSITE_NAME=
BASE_URL=
